element.style {
}

.clean-navbar.fixed-bottom, .clean-navbar.fixed-top {
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

@media (min-width:576px) {
  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top {
  top: 0;
}

.bg-white {
  background-color: #fff!important;
}

@media (min-width:992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.navbar, .navbar > .container, .navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  position: relative;
  padding: .5rem 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: Montserrat,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

element.style {
}

@media (min-width:992px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (max-width:991.98px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar, .navbar > .container, .navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
  margin: 0;
  font-family: Montserrat,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

element.style {
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(0,0,0,.9);
}

.clean-navbar .logo {
  font-size: 1.5rem;
}

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

element.style {
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border-radius: 0;
}

element.style {
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url([svg]);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat 50%;
  background-size: 100% 100%;
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

element.style {
}

.clean-navbar .navbar-nav .nav-item {
  padding-right: 2rem;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: Montserrat,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

element.style {
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0,0,0,.9);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.clean-navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

element.style {
}

.clean-navbar .navbar-nav .nav-item {
  padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.clean-navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.clean-navbar .navbar-nav .nav-item {
  padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.clean-navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.clean-navbar .navbar-nav .nav-item {
  padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.clean-navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.clean-navbar .navbar-nav .nav-item {
  padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.clean-navbar .navbar-nav .nav-link {
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link:focus, .nav-link:hover {
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

element.style {
}

@media (min-width:992px) {
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

dl, ol, ul {
  margin-top: 0;
}

address, dl, ol, ul {
  margin-bottom: 1rem;
}

.clean-navbar.fixed-bottom, .clean-navbar.fixed-top {
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

@media (min-width:576px) {
  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

.fixed-bottom, .fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-top {
  top: 0;
}

.bg-white {
  background-color: #fff!important;
}

@media (min-width:992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.navbar, .navbar > .container, .navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  position: relative;
  padding: .5rem 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}


